.review-list {
  .page-header {
    margin-bottom: 16px;
  }

  a {
    color: #1890ff;
    cursor: pointer;

    &:hover {
      color: #40a9ff;
    }
  }

  td button + button {
    margin-left: 8px;
  }
}
